fastapi
uvicorn
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator
xgboost
tensorflow
shap
scikit-learn
hmmlearn
pandas
numpy
scipy
scikit-posthocs
pyreadstat
joblib
thefuzz
python-multipart
requests
matplotlib
seaborn
streamlit
plotly
