fastapi
uvicorn
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
xgboost
tensorflow
shap
scikit-learn
pandas
numpy
scipy
pyreadstat
joblib
thefuzz
python-multipart
requests
matplotlib
seaborn
streamlit
plotly
