fastapi
uvicorn
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator
xgboost
tensorflow
shap
scikit-learn
hmmlearn
pandas
numpy
scipy
scikit-posthocs
pyreadstat
joblib
imbalanced-learn
thefuzz==0.22.1
python-multipart
sendgrid
python-dotenv
requests
matplotlib
seaborn
streamlit
plotly
pypdf
sentence-transformers
huggingface_hub
